{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
	  var choose_element_url = "{{=URL('api', 'choose_element', user_signature = True)}}";
</script>
{{end}}

<div class="main_content">

  <!-- Here goes your main HTML code. -->
  <div class="main_content">
	  <div id="vue-div" class="display:none">
         <div v-if="!logged_in"><h5>Log in to save and keep track of your most wanted items!</h5></div>
         <br>
         <h5>Post a link to a singular item:</h5>
         <div>Testing url: https://computers.woot.com/offers/hp-omen-870-intel-i7-gtx1070-desktop-2</div>
	  	 <form action="#" v-on:submit.prevent="linkSubmit" class="form-horizontal" enctype="multipart/form-data" method="post">
	  		<input type="text" v-model="url" placeholder="https://www.newegg.com">
	  		<input type="submit">
	  	</form>

	  	<button v-if="!is_selecting" @click="toggle_select()" >Turn On Select Mode</button>
	  	<button v-if="is_selecting" @click="toggle_select()" >Turn Off Select Mode</button>
	  	<div id="site-loader"></div>
	  </div>
  </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
