/* line 1, ../sass/_main.scss */

/*header.black.padded{
	margin-top:15px;
}*/

.container.padded.max900 {
	bottom: 0;
	position: fixed;
	width: 900px;
}

.main_content{
	margin-top:20px;
	margin-left: 20px;
	margin-right: 20px;
}

div#site-loader{
	display:none;
	max-width: 80vw;
	max-height: 45vh;
	margin:auto;
	overflow: auto;
	border: 5px solid black;
	border-radius: 10px;
}


/*ITEM LIST CSS*/

.card{
	border:1px solid lightblue;
	padding:10px;
}