/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

header.black.padded{
	margin-top:15px;
}

.container.padded.max900 {
	bottom: 0;
	position: fixed;
	width: 900px;
}

main.white{
	height:78%;
}